*.o
*.mod
*.a
regcoil
*.nc
regcoil_out*
job.out.*
job.err.*
make_test.o*
*~
\#*

# python wrapper related
*.fpp
f90wrap_*.f90
_*.so
src.*/
.f2py_f2cmap 
.libs/ 
__pycache__/

# example files
examples/